# ~/.gitignore_global

# General

.DS_Store
*.log
*.tmp
*.temp
*.swp
*.bak
*.cache
*.dist
*.pyc
*.pyo
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.tar
*.bz2
*.rar
*.gz
*.bz2
*.xz
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.ico
*.mp3
*.mp4
*.ogg
*.wav
*.mov
*.avi
*.mkv
*.flv
*.swf
*.eot
*.ttf
*.woff
*.woff2
*.svg
*.svgz
*.ttc
*.otf
*.wasm
