[core]
editor = vim
[diff]
tool = vimdiff
[merge]
tool = vimdiff
[alias]
heute = log --all --since=midnight
lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
