[core]
editor = vim
[diff]
tool = vimdiff
[merge]
tool = vimdiff
[alias]
heute = log --all --since=midnight
lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
idmark = "!f() { echo \"$1\" >> ~/.git-marked-commits; }; f"
cp-all = "!f() { xargs git cherry-pick < ~/.git-marked-commits; rm ~/.git-marked-commits; }; f"